version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: aesprojectapp
    container_name: app
    restart: unless-stopped
    volumes:
      - ./:/var/www

  webserver:
    build:
      context: .
      dockerfile: dockerfile_Nginx
    image: nginx:latest
    container_name: webserver
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./config/nginx/:/etc/nginx/conf.d/
    depends_on:
      - app

  node:
    build:
      context: .
      dockerfile: dockerfile_NodeJS
    image: node:latest
    container_name: nodejs
    restart: unless-stopped
    volumes:
      - ./:/var/



#version: '2'
#services:
#  nginx:
#    image: nginx:latest
#    volumes:
#      - ./templates:/etc/nginx/templates
#    volumes_from:
#      - php
#    ports:
#      - '8080:81'
#  phpmyadmin:
#    image: phpmyadmin:latest
#  php:
#    image: yiisoftware/yii2-php:8.0-fpm
#    volumes:
#      - ~/.composer-docker/cache:/root/.composer/cache:delegated
#      - ./:/app:delegated
#    ports:
#      - '8000:80'
#  mysql:
#    image: mysql:latest
#    environment:
#      MYSQL_ROOT_PASSWORD: '1234'
#      MYSQL_DATABASE: 'AES_PROJECT_DB'
#    restart: always
#    ports:
#      - '3306:3306'
