@font-face {
    font-family: "Product Sans";
    src: local(Fonts\ProductSansRegular);
}

@font-face {
    font-family: "Isidora";
    src: local(Fonts\IsidoraLight), local(Fonts\IsidoraBold);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #008cff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0065b7;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.brandContainer {
    font-family: Isidora;
    font-size: 3rem;
    text-align: center;
}

.logContainer {
    background-color: #008cff;
}

.brandContainer * {
    margin: 0;
}

.brandContainer h1 {
    font-weight: 100;
}

.brandContainer p {
    font-weight: 900;
}

.logContainer * {
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandContainer, .logContainer {
    margin: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logIn {
    background-color: #ffffff;
}

.label {
    padding: 0 10px;
    margin:  10px 10px 2px;
}

.btn {
    align-items: center;
    color: #ffffff;
    background-color: #008cff;
}

.input {
    margin: 0 10px;
    background-color: #eeeeee;
}

.btn, .input {
    border: 0;
    padding: 0 11px;
    height: 40px;
}

.label, .btn, .input {
    font-family: Product Sans;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100vw;
        height: 100vh;

        flex-direction: column;
    }

    .logContainer {
        min-height: 350px;
    }

    .brandContainer {
        width: 100%;
        height: 450px;
    }

    .logContainer {
        width: 100%;
        height: 85%;
    }
}